#QuestionBox,#Question
{
    width:100%;
    min-height:150px;

}

#mainFlex
{
    display: flex;
}

#divieId{
    flex: 1;
}

#html,#css,#js{
    width: 100%;
    min-height:250px;
    overflow:scroll;
    background-color:black;
    color:white;
}
iframe{
    flex: 1;
    min-height:850px;
    
}
